:root {
    --primary: #0A0A0A;
    --secondary: #ffffff;

    --font-main: 'Satoshi', sans-serif;

    --fs-headings: 4rem;
    --fs-body: 1rem;

    --fw-lg: 900;
    --fw-m: 600;
    --fw-s: 400;

    --lh-xl: 0.94;    
    --lh-lg: 1.375;  
    --lh-base: 2.08;

    --space-xs: 0.5rem;  
    --space-sm: 1rem;  
    --space-md: 2rem;  
    --space-lg: 4rem;  
    --space-xl: 8rem;
    --space-huge: 16rem;
    --container-max: 1400px;    
    --gutter: 1.5rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--primary);
    color: var(--secondary);
    font-size: var(--fs-body);    
    line-height: var(--lh-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/*
====================================================================
                            GLOBAL
====================================================================
*/

main {
    text-align: center;
}

h1, h2 {
    font-size: var(--fs-headings);
}

/*
====================================================================
                            HEADER
====================================================================
*/

header nav button {
    margin: var(--space-sm) var(--space-sm);
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 2.3rem;
    background: transparent;
    border: 1px solid var(--secondary);

    display: grid;
    place-content: center;

    position: sticky;
    float: right;
}

header nav button span {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background: var(--secondary);
    border-radius: 1.4rem;
}   




/*
====================================================================
                            HERO
====================================================================
*/

#hero h1 {
    line-height: var(--lh-xl);
}

#hero h1 .h-small {
    font-size: 2rem;
}

#hero h1 .h-italic {
    font-size: 3rem;
    font-weight: var(--fw-s);
}

#hero h1 strong {
    line-height: var(--lh-lg);
}