@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  /* ==========================================================================
     1. COLOR PALETTE (From image_72ddc6.png)
     ========================================================================== */
  --clr-white:    #F5F6F7;
  --clr-gray-100: #DEE2E6;
  --clr-gray-200: #ADB5BD;
  --clr-gray-300: #495057;
  --clr-black:    #000E10;

  /* ==========================================================================
     2. TYPOGRAPHY (Figma px to rem conversion)
     ========================================================================== */
  --ff-primary: 'Satoshi', sans-serif;

   --fs-sm: 1rem;
   --lh-sm: 1.5rem;

   --fs-md: 1.75rem;
   --lh-md: 2rem;

   --fs-lg: 2.25rem;
   --lh-lg: 2.5rem;

   --fs-xl: 4rem;
   --lh-xl: 4rem;

  /* ==========================================================================
     3. BORDERS & SHAPE
     ========================================================================== */
     
  --radius-subtle: 1.875rem;
  --radius-full:   9999px;

  /* ==========================================================================
     4. SPACING SYSTEM (Linear 1rem base scale)
     ========================================================================== */
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 5rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
}

body {
   overflow-x: hidden;
   font-size: var(--fs-sm);
   color: var(--clr-black);
   background-color: var(--clr-white);
   font-weight: 800;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: var(--clr-black);
}

h2, h3 {
   font-size: var(--fs-xl);
   line-height: var(--lh-xl);
   font-weight: 800;
}

p {
   font-size: var(--fs-lg);
   line-height: var(--fs-lg);
   font-weight: 700;
}

span {
   display: block;
}

.rounded-btn {
   border-radius: var(--radius-full);
   padding: var(--space-1) var(--space-2);
   border: none;
   font-size: var(--fs-sm);
   display: inline-block;
}

.sub-title {
   font-size: var(--fs-lg);
   line-height: var(--lh-lg);
   color: var(--clr-gray-200);
}

.section-padding {
    padding: var(--space-3) var(--space-1);
}

@media only screen and (min-width: 48rem) {
   :root {
        --fs-sm: 1rem;
        --lh-sm: 1rem;

        --fs-md: 2.25rem;
        --lh-md: 2.5rem;

        --fs-lg: 3rem;
        --lh-lg: 3.25rem;

        --fs-xl: 6.5rem;
        --lh-xl: 6.5rem;
   }

   .section-padding {
      padding: var(--space-5) var(--space-3);
   }
}

@media only screen and (min-width: 75rem) {
   :root {
      --fs-sm: 1rem;
      --lh-sm: 1rem;

      --fs-md: 2.5rem;
      --lh-md: 2.75rem;

      --fs-lg: 3.75rem;
      --lh-lg: 4rem;

      --fs-xl: 7rem;
      --lh-xl: 7rem;
   }
}